@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300&family=Noto+Sans:wght@100&family=Questrial&display=swap');

body {
  margin-top: 0%;
  font-family: 'Montserrat', sans-serif;
  color: black;

}

.message {
  color: red;
  font-size: 1em;
}

.pagehead {
  margin-top: 0px;
  margin-bottom: 5em;
}

/* Header */
.header {
  text-align: center;
  font-size: 4em;
  color:black;
  margin-bottom: 0.2em;
}

/* Nav Bar */
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0.4em 0.2em 0.1em 1em; 
  max-height: 2em;
  border-bottom: solid;
  border-top: solid;
  border-width: 1px;
  border-color: #253d45;
  color:#7b8487;
}

.navbar {

}

.navlink {
  text-decoration: none;
  color: #7b8487;
  padding: 1.5em;
}

/* Home Page */

/* Registration Page */


/* Login Page */
#reglink {
  margin-top: 5%;
}

/* Add Item Page */
/* Wishlist Pages */
.wishlist {
  text-align: center;
}

#wishlist_banner {
  margin-bottom: 1.6em;
}

.items_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 16em;
  margin-top: 4em;
  margin-bottom: 7em;
}

#pic {
  max-height: 10em;
}

p#product {
  font-size: 1.3em;
  margin-top: 2em;
  margin-bottom: 0em;
}

p#price {
  font-size: 1em;
  margin-top: 0em;
}

/* Slideshow */
.slideshow {
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  justify-content: center;
  height: 450px;
  width: 100%;
  border-radius: 40px;
}

.slideshowDots {
  text-align: center;
}
.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #d8d5d5;
}

.slideshowDot.active {
  background-color: #b6b3b3;
  justify-content: center;
}

