@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300&family=Noto+Sans:wght@100&family=Questrial&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: #edf0f1; */
}

.message {
  color: red;
  font-size: 0.7em;
}

.pagehead {
  margin-bottom: 5em;
}

/* Header */
.header {
  text-align: center;
  font-size: 4em;
  color:black;
  margin-bottom: 0.2em;
}
.header a {
  text-decoration: none;
  color: black
}

/* Nav Bar */
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0.4em 0.2em 0.1em 1em; 
  max-height: 2em;
  border-width: 0.25em;

  border-color: #00BBf9;
  color:#7b8487;
}

.navbar {

}

.navlink {
  text-decoration: none;
  color: #7b8487;
  padding: 1.5em;
}

/* Home Page */

/* Registration Page */


/* Login Page */
#reglink {
  margin-top: 5%;
}

/* Add Item Page */
/* Wishlist Pages */
.wishlist {
  text-align: center;
}

/* Slideshow */
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 450px;
  width: 100%;
  border-radius: 40px;
}

.slideshowDots {
  text-align: center;
}
.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #d8d5d5;
}

.slideshowDot.active {
  background-color: #b6b3b3;
}

