@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300&family=Noto+Sans:wght@100&family=Questrial&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.message {
  color: red;
  font-size: 0.7em;
}

/* Header */
.header {
  text-align: center;
  font-size: 3.5em;
}

/* Nav Bar */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
}

.navlinks {
  text-decoration: none;
  color: #edf0f1;  
  padding: 0 10px 0 10px;
}

#link {
  color:#edf0f1;
}

/* Home Page */
/* Registration Page */
/* Login Page */
/* Add Item Page */
/* Wishlist Pages */


